<mat-card class="b-d-1rm">
    <mat-card-content>
        <footer class="footer-container">
            <div class="contact-wrapper">
                <h4>Contact Info</h4>
                <div class="contact_info_sec">
                    <div class="info-items">
                        <mat-icon>support_agent</mat-icon>
                        <span class="separator"></span>

                        <span  class="content">+91 93603 63227</span>
                    </div>
                    <div class="info-items">
                        <mat-icon>mail</mat-icon>
                        <span class="separator"></span>

                        <span class="content"><a href="mailto:info@stuinnov.com">info@stuinnov.com</a></span>
                    </div>
                    <div class="info-items">
                        <mat-icon>pin_drop</mat-icon>
                        <span class="separator"></span>

                        <span class="content">1525, BUDDHA NAGAR, Tiruvannamalai, Tamil Nadu 606604</span>
                    </div>
                    <div class="info-items">
                        <span class="svg-content"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"/></svg></span>
                        <span class="separator"></span>

                        <span class="content"><a href="https://www.instagram.com/stuadds.tvm/">Stu Adds</a></span>
                    </div>
                    <div class="info-items">
                        <span class="svg-content"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h7.621v-6.961h-2.343v-2.725h2.343V9.309 c0-2.324,1.421-3.591,3.495-3.591c0.699-0.002,1.397,0.034,2.092,0.105v2.43h-1.428c-1.13,0-1.35,0.534-1.35,1.322v1.735h2.7 l-0.351,2.725h-2.365V21H19c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z"/></svg></span>
                        <span class="separator"></span>

                        <span class="content"><a href="https://www.facebook.com/profile.php?id=100077887804025">Stu Adds</a></span>
                    </div>
    
                </div>
                <div class="contact_info_mobile_sec">
                    <div class="info-items">
                        <a href="tel:+91 93603 63227"><mat-icon>support_agent</mat-icon></a>
                    </div>
                    <div class="info-items">
                        <a href="mailto:info@stuinnov.com"><mat-icon>mail</mat-icon></a>
                    </div>
                    <div class="info-items">
                        <a href="http://maps.google.com/?q=STU INNOVATIONS, BUDDHA NAGAR, Tiruvannamalai, Tamil Nadu"> <mat-icon>pin_drop</mat-icon></a>
                    </div>
                    <div class="info-items">
                        <a class="svg-content" href="https://www.instagram.com/stuadds.tvm/">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z" fill="#3c8dbc"/></svg>
                        </a>
                    </div>
                    <div class="info-items">
                        <a class="svg-content" href="https://www.facebook.com/profile.php?id=100077887804025">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h7.621v-6.961h-2.343v-2.725h2.343V9.309 c0-2.324,1.421-3.591,3.495-3.591c0.699-0.002,1.397,0.034,2.092,0.105v2.43h-1.428c-1.13,0-1.35,0.534-1.35,1.322v1.735h2.7 l-0.351,2.725h-2.365V21H19c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z" fill="#3c8dbc"/></svg>
                        </a>
                    </div>
    
                </div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="terms-and-conditions">
                <span class="pmd-footer-nav">
                    <a href="stumoberptermsandconditions.pdf" target="_blank">Terms &amp; conditions</a>
                </span>
                <span class="developed-by">
                    <span class="pmd-site-info">
                        StuMobErp 10.4 © 2022 All rights reserved
                    </span>
                    <span class="pmd-footer-center">
                        Developed by <a href="http://www.stuinnov.com/" target="_blank">STU Innovations Pvt. Ltd</a>
                    </span>
                </span>
            </div>
    </footer>
</mat-card-content>
  </mat-card>