<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
          <h2>{{PAGE_TYPE}}</h2>
  
          <table mat-table [dataSource]="dataSource" matSort class="supplier-list">
  
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element"> 
                 <span class="mobile-label">No. :</span> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="supplier_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier Name </th>
              <td mat-cell *matCellDef="let element"> <span class="mobile-label">Supplier Name :</span> {{element.supplier_name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
              <td mat-cell *matCellDef="let element"> <span class="mobile-label">Phone :</span> {{element.phone}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let element"> <span class="mobile-label">Email :</span> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="shop_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Trade Name </th>
              <td mat-cell *matCellDef="let element"> <span class="mobile-label">Trade Name :</span> {{element.shop_name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="gst">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> GST </th>
              <td mat-cell *matCellDef="let element"> <span class="mobile-label">GST :</span> {{element.gst}} </td>
            </ng-container>
          
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element"> <span class="mobile-label">Status :</span> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="editSupplier(element)">
                  <mat-icon>edit</mat-icon> <span class="mobile-label">Edit</span> 
                </button>
                
                <button mat-button color="accent" (click)="deleteSupplier(element)">
                  <mat-icon>delete</mat-icon> <span class="mobile-label">Delete</span> 
                </button>  
              </td>         
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>