<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
          <h2>Add Supplier</h2>
  
<!--   
          <div class="container" fxLayout="row" fxLayoutAlign="center none">
          


            <div class="form-element">
              <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
            </div>

            
          </div> -->
  
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>